
#volunteer_box
{
	padding: 3%;
	position: relative;
	height: 100%;
	width: 100%;
}

#volunteer
{
	width: 100%;
	height: 100%;
}

#viewer_box
{
	padding: 3%;
	position: relative;
	height: 100%;
	width: 100%;
}

#viewer
{
	border: none;
	width: 100%;
	height: 100%;
}